@model ProDat.Web2.Models.MaintArea

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MaintArea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaintAreaId" />
            <div class="form-group">
                <label asp-for="PlantSectionId" class="control-label"></label>
                <select asp-for="PlantSectionId" class="form-control" asp-items="ViewBag.PlantSectionId"></select>
                <span asp-validation-for="PlantSectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintAreaName" class="control-label"></label>
                <input asp-for="MaintAreaName" class="form-control" />
                <span asp-validation-for="MaintAreaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintAreaDesc" class="control-label"></label>
                <input asp-for="MaintAreaDesc" class="form-control" />
                <span asp-validation-for="MaintAreaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
