@model ProDat.Web2.Models.SubSystem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SubSystem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubSystemNum" class="control-label"></label>
                <input asp-for="SubSystemNum" class="form-control" />
                <span asp-validation-for="SubSystemNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubSystemName" class="control-label"></label>
                <input asp-for="SubSystemName" class="form-control" />
                <span asp-validation-for="SubSystemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemsId" class="control-label"></label>
                <select asp-for="SystemsId" class ="form-control" asp-items="ViewBag.SystemsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
