@model ProDat.Web2.ViewModels.UC2ComponentVM

@*@{ var mod_h = Model.height * 0.9; }*@
@{ var mod_h = Model.height * 0.95; }

<h4>&nbsp; Non-Maintained</h4>

@(Html.DevExtreme().DataGrid<ProDat.Web2.Models.Tag>()
    .ID("NonMaintainedDataGridDx")
    .DataSource(d => d.Mvc()
        .Controller("UC2")
        .LoadAction("NonMaintained_GetData")
        .InsertAction("NonMaintained_Insert")
        .UpdateAction("NonMaintained_Update")
        .DeleteAction("NonMaintained_Delete")
        .Key("TagId")
    )
    .OnContextMenuPreparing("GridViewContextMenuDefault")
    .RemoteOperations(true)
    .Columns(
        columns =>
        {

            columns.AddFor(m => m.TagNumber).SortOrder(SortOrder.Asc);

            columns.AddFor(m => m.TagService);

            columns.AddFor(m => m.TagFloc);

            columns.AddFor(m => m.EngDiscId)
                .Lookup(lookup => lookup
                    .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("EngDisc_Lookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

            columns.AddFor(m => m.SubSystem.SubSystemNum);

        })
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(false))
    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
    .RowDragging(rd => rd
        .Data("NonMaintainedDataGrid")
        .Group("shared")
        .Option("TagId", @Model)
        .OnDragEnd("NonMaintOnDragEnd")
    )
    .AllowColumnResizing(true)
    .ColumnAutoWidth(true)
    .Height(mod_h)
    .Width(Model.width)
    .ShowBorders(true)
    .Editing(e => e.AllowAdding(false).AllowDeleting(false).AllowUpdating(false))

)
