@model ProDat.Web2.Models.EngDataClassxEngDataCode

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EngDataClassxEngDataCode</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDataCodeId)
        </dt>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EngClassId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
