@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Registered";
}

<h1>@ViewData["Title"]</h1>

<p>
    To access content, you must setup two factor authentication, and request project access.
</p>

<h4>Two Factor Authentication</h4>
<p>On your first login, you will be redirected towards your user management page. Until you have setup Two Factor Authentication, you will not be able to access any content other than User management. </p>
<p>Install on your Phone an authentication app from the below list.</p>
<ul>
    <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_AU&gl=US">Google Authenticator</a></li>
    <li><a href="https://play.google.com/store/apps/details?id=com.azure.authenticator">Microsoft Authenticator</a></li>
</ul>
<h4>Access Prodat Projects</h4>
<p>To access actual projects, you must liaise with your project coordinator or prodat administrator, who will add you to the appropriate groups.</p>