@model ProDat.Web2.Models.MaintItem

@{
    ViewData["Title"] = "MI Register";

    //Dictionary<string, int> colIndex = ViewBag.colIndex;
    Dictionary<string, ProDat.Web2.ViewModels.ColParams> colIndex = ViewBag.colIndex;

    bool isUser = User.IsInRole("User");
    bool isAdmin = User.IsInRole("Admin");

}

<!-- For optional columns. Need to extend ColumnSets to retrieve based on parameter (e.g. Tag, MaintItem, etc). -->
<div class="options">
    <div class="option">
        <form id="Form1" method="post">
            <table>
                <tr>
                    <td>Column Format: </td>
                    <td>
                        @(Html.DevExtreme().SelectBox()
                            .ID("ColumnSetsName")
                            .Name("ColumnSetsName")
                            .DataSource( d => d
                                    .Mvc()
                                        .Controller("Lookups")
                                        .LoadAction("ColumnSets_Lookup")
                                        .LoadParams(new { ColumnSetsEntity = "MaintItem"})
                                        .Key("Text"))
                            .DisplayExpr("Text")
                            .ValueExpr("Text")
                            .Value(ViewBag.columnSetsName)
                            .OnValueChanged("Option_ColumnSets")
                        )
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div id="form" class="dx-swatch-Datagrid_Blue" style="overflow-y: hidden; overflow-x: hidden">
    @(Html.DevExtreme().DataGrid<ProDat.Web2.Models.MaintItem>()
            .ID("MIRegister")
            .Height(1150)
            //.Width()
            .DataSource( ds => ds.Mvc()
                .Controller("MIRegister")
                .LoadAction("MIRegister_GetData")
                .InsertAction("MIRegister_Insert")
                .UpdateAction("MIRegister_Update")
                .DeleteAction("MIRegister_Delete")
                .Key("MaintItemId")
            )
            .Editing(editing =>
            {
                editing.Mode(GridEditMode.Cell);
                editing.AllowUpdating(isUser);
                editing.AllowAdding(isUser);
                editing.AllowDeleting(isAdmin);
            })
            .Selection(s => s.Mode(SelectionMode.Multiple))
            .Export(e => e.Enabled(true).AllowExportSelectedData(true))
            .OnExporting("exporting")
            .RemoteOperations(false)
            .AllowColumnReordering(true)
            .RowAlternationEnabled(true)
            // Need to update this to somethign meaningful; in relation to the given MI, in a register for editing?
            .OnContextMenuPreparing("MIRegister_OnContextMenuPreparing")
            .ShowBorders(true)
            .FilterRow(f => f.Visible(true))
            .ColumnChooser(c=> c.Enabled(true))
            .ColumnFixing(c => c.Enabled(true))
            .ColumnResizingMode(ColumnResizingMode.Widget)
            .AllowColumnResizing(true)
            .SearchPanel(s => s
                .Visible(true)
                .HighlightCaseSensitive(true)
             )
            .GroupPanel(g => g.Visible(true))
            .Grouping(g => g.AutoExpandAll(false))
            .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
            .Paging(p=> p.PageSize(45))
            .OnCellPrepared("DataGrid_OnCellPrepared")
            .Columns(columns =>
            {

                columns.AddFor(x => x.MaintItemNum)
                    .SortOrder(SortOrder.Asc)
                    .SortIndex(0)
                    .Fixed(true)
                    .Visible(colIndex.ContainsKey("MaintItemNum"))
                    .VisibleIndex(colIndex.ContainsKey("MaintItemNum") ? colIndex["MaintItemNum"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintItemNum") ? colIndex["MaintItemNum"].Width : 75);

                columns.AddFor(x => x.MaintItemId)
                    .AllowEditing(false)
                    .Visible(colIndex.ContainsKey("MaintItemId"))
                    .VisibleIndex(colIndex.ContainsKey("MaintItemId") ? colIndex["MaintItemId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintItemId") ? colIndex["MaintItemId"].Width : 75);

                columns.AddFor(x => x.MaintPlanId)
                    .Visible(colIndex.ContainsKey("MaintPlanId"))
                    .VisibleIndex(colIndex.ContainsKey("MaintPlanId") ? colIndex["MaintPlanId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintPlanId") ? colIndex["MaintPlanId"].Width : 75)
                    .SetCellValue("setCellValue_MaintPlan")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("MaintPlan_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.MaintItemShortText)
                    .Visible(colIndex.ContainsKey("MaintItemShortText"))
                    .VisibleIndex(colIndex.ContainsKey("MaintItemShortText") ? colIndex["MaintItemShortText"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintItemShortText") ? colIndex["MaintItemShortText"].Width : 75);

                columns.AddFor(x => x.HeaderFlocId)
                    .Visible(colIndex.ContainsKey("HeaderFlocId"))
                    .VisibleIndex(colIndex.ContainsKey("HeaderFlocId") ? colIndex["HeaderFlocId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("HeaderFlocId") ? colIndex["HeaderFlocId"].Width : 75)
                    //.SetCellValue("setCellValue_HeaderFloc") dont add tags through CRUD.
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("HeaderFloc_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                //columns.AddFor(x => x.MaintItemObjectListFloc)
                //    .Visible(colIndex.ContainsKey("MaintItemObjectListFloc"))
                //    .VisibleIndex(colIndex.ContainsKey("MaintItemObjectListFloc") ? colIndex["MaintItemObjectListFloc"].Order : int.MaxValue)
                //    .Width(colIndex.ContainsKey("MaintItemObjectListFloc") ? colIndex["MaintItemObjectListFloc"].Width : 75);

                columns.AddFor(x => x.MaintWorkCentreId)
                    .Visible(colIndex.ContainsKey("MaintWorkCentreId"))
                    .VisibleIndex(colIndex.ContainsKey("MaintWorkCentreId") ? colIndex["MaintWorkCentreId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintWorkCentreId") ? colIndex["MaintWorkCentreId"].Width : 75)
                    .SetCellValue("setCellValue_MaintWorkCentre")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("MaintWorkCentre_Lookup").Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.MaintenancePlantId)
                    .Visible(colIndex.ContainsKey("MaintenancePlantId"))
                    .VisibleIndex(colIndex.ContainsKey("MaintenancePlantId") ? colIndex["MaintenancePlantId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintenancePlantId") ? colIndex["MaintenancePlantId"].Width : 75)
                    .SetCellValue("setCellValue_MaintenancePlant")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("MaintenancePlant_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.MaintItemOrderType)
                    .Visible(colIndex.ContainsKey("MaintItemOrderType"))
                    .VisibleIndex(colIndex.ContainsKey("MaintItemOrderType") ? colIndex["MaintItemOrderType"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintItemOrderType") ? colIndex["MaintItemOrderType"].Width : 75);

                columns.AddFor(x => x.MaintPlannerGroupId)
                    .Visible(colIndex.ContainsKey("MaintPlannerGroupId"))
                    .VisibleIndex(colIndex.ContainsKey("MaintPlannerGroupId") ? colIndex["MaintPlannerGroupId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintPlannerGroupId") ? colIndex["MaintPlannerGroupId"].Width : 75)
                    .SetCellValue("setCellValue_MaintPlannerGroup")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("MaintPlannerGroup_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.SysCondId)
                    .Visible(colIndex.ContainsKey("SysCondId"))
                    .VisibleIndex(colIndex.ContainsKey("SysCondId") ? colIndex["SysCondId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("SysCondId") ? colIndex["SysCondId"].Width : 75)
                    .SetCellValue("setCellValue_SysCond")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("SysCond_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.PriorityId)
                    .Visible(colIndex.ContainsKey("PriorityId"))
                    .VisibleIndex(colIndex.ContainsKey("PriorityId") ? colIndex["PriorityId"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("PriorityId") ? colIndex["PriorityId"].Width : 75)
                    .SetCellValue("setCellValue_Priority")
                    .Lookup(lookup => lookup
                        .DataSource(d => d.Mvc().Controller("Lookups").LoadAction("Priority_Lookup")
                        .Key("Value"))
                        .ValueExpr("Value")
                        .DisplayExpr("Text")
                    );

                columns.AddFor(x => x.MaintItemLongText)
                    .Visible(colIndex.ContainsKey("MaintItemLongText"))
                    .VisibleIndex(colIndex.ContainsKey("MaintItemLongText") ? colIndex["MaintItemLongText"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("MaintItemLongText") ? colIndex["MaintItemLongText"].Width : 75);

                columns.AddFor(x => x.TaskListExecutionFactor)
                    .Visible(colIndex.ContainsKey("TaskListExecutionFactor"))
                    .VisibleIndex(colIndex.ContainsKey("TaskListExecutionFactor") ? colIndex["TaskListExecutionFactor"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("TaskListExecutionFactor") ? colIndex["TaskListExecutionFactor"].Width : 75);

                columns.AddFor(x => x.bDoNotRelImmed)
                    .Visible(colIndex.ContainsKey("bDoNotRelImmed"))
                    .VisibleIndex(colIndex.ContainsKey("bDoNotRelImmed") ? colIndex["bDoNotRelImmed"].Order : int.MaxValue)
                    .Width(colIndex.ContainsKey("bDoNotRelImmed") ? colIndex["bDoNotRelImmed"].Width : 75);

            })
        )
</div>

<!-- UI structure to test SAP Validations -->
<input type="hidden" id="SapValidationJson" value="@ViewData["SapValidationJson"]" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>


<!-- Trigger events for search UI ddls -->
<script>
    // Perform action when fields updated/edited.
    function Option_ColumnSets(e) {
        //reload page with ?columnSetsName=e.value;
        return $("#Form1").submit();
    }

    // TODO: Test can I delete this?
    //function selectBox_valueChanged(data) {
    //    getFormInstance().option("formData", data.value);
    //}

</script>

<!-- OnCellPrepared functions. Performs SAP validations relevant to MI. -->
<script>

    function MIRegister_OnContextMenuPreparing(e) {

        if (e.row == undefined) {
            e.items = [{
                text: "New Item",
                onItemClick: function () {
                    var target = "/MaintItems/Create";
                    window.open(target, '', "resizable=yes, width=800, Height=700, left=100, top=10");
                }
            }];
        }
        else if (e.row.rowType === "data") {
            e.items = [
                {
                    text: "Clone Item",
                    onItemClick: function () {
                        var clonedItem = $.extend({}, e.row.data);

                        var dataGrid = $("#MIRegister").dxDataGrid({
                            // ...
                        }).dxDataGrid("instance");

                        var dataSource = dataGrid.getDataSource();
                        dataSource.store().insert(clonedItem).then(function () {
                            dataSource.reload();
                        })
                    }
                },
                {
                    text: "New Item",
                    onItemClick: function () {
                        var target = "/MaintItems/Create";
                        window.open(target, '', "resizable=yes, width=800, Height=700, left=100, top=10");
                    }
                }];
        }
    }

    window.sapatts = {};

    function DataGrid_OnCellPrepared(options) {

        initGlobals();

        if (options.rowType == 'data') {

            // Hard coded test for deleted tags or Tags on Query. Not relevant to MI.
            //if (options.column.dataField == 'TagNumber' && options.data) {
            //    options.cellElement.addClass(options.data.TagDeleted ? "isDeleted" : "");
            //    options.cellElement.addClass(options.data.TagMaintQuery ? "isMaintQuery" : "");
            //}

            // Test SAP requirements
            if (options.column.dataField in window.sapatts && options.data) {
                for (var i = 0; i < window.sapatts[options.column.dataField].length; i++) {
                    if (!isGoodSAP(
                        window.sapatts[options.column.dataField][i].EntityAttributeRequirementType,
                        window.sapatts[options.column.dataField][i].EntityAttributeRequirementCondition,
                        window.sapatts[options.column.dataField][i].EntityAttributeRequirementValue,
                        options.data[options.column.dataField])) {
                        options.cellElement.addClass('badSAP');
                    }
                }
            }
        }
    }

    function isGoodSAP(TestType, testOperator, testValue, cellValue) {
        if (TestType == 'AttributeLength' && cellValue != null) {
            if (eval(cellValue.length + testOperator + testValue))
                return true;
            else
                return false;

        } // add more Test Types after this...

        return true;
    }


    // SAP Validation from Tags.cshtml.
    // convert integer indexed structure to AttributeName indexed structure to speed up attribute checking.
    function initGlobals() {
        if (isObjectEmpty(window.sapatts)) {
            var sapreq = JSON.parse($('#SapValidationJson').val());
            for (var i = 0; i < sapreq.length; i++) {
                window.sapatts[sapreq[i].EntityAttributeName] = sapreq[i].EntityAttributeRequirements;
            }
        }
    }

    function isObjectEmpty(value) {
        return value && Object.keys(value).length === 0 && value.constructor === Object;
    }

</script>


<!-- Lookup functions, which enable triggering of CRUD Admin windows for MI Star Fields -->
<script>

    function setCellValue_MaintItemMaintPlan(newData, value, currentRowData) {
        if (value < 0) {
            newData.MaintPlanId = currentRowData.MaintPlanId;
            target = '/MaintPlans';
            window.open(target);
        }
        else {
            newData.MaintPlanId = value;
        }
    }

    function setCellValue_MaintWorkCentre(newData, value, currentRowData) {
        if (value < 0) {
            newData.MaintWorkCentreId = currentRowData.MaintWorkCentreId;
            target = '/MaintWorkCentres';
            window.open(target);
        }
        else {
            newData.VibId = value;
        }
    }

    function setCellValue_MaintenancePlant(newData, value, currentRowData) {
        if (value < 0) {
            newData.MaintenancePlantId = currentRowData.MaintenancePlantId;
            target = '/MaintenancePlants';
            window.open(target);
        }
        else {
            newData.MaintenancePlantId = value;
        }
    }

    function setCellValue_MaintPlan(newData, value, currentRowData) {
        if (value < 0) {
            newData.MaintPlanId = currentRowData.MaintPlanId;
            target = '/MaintPlans';
            window.open(target);
        }
        else {
            newData.MaintPlanId = value;
        }
    }

    function setCellValue_MaintPlannerGroup(newData, value, currentRowData) {
        if (value < 0) {
            newData.MaintPlannerGroupId = currentRowData.MaintPlannerGroupId;
            target = '/MaintPlannerGroups';
            window.open(target);
        }
        else {
            newData.MaintPlannerGroupId = value;
        }
    }

    function setCellValue_SysCond(newData, value, currentRowData) {
        if (value < 0) {
            newData.SysCondId = currentRowData.SysCondId;
            target = '/SysConds';
            window.open(target);
        }
        else {
            newData.SysCondId = value;
        }
    }

    function setCellValue_Priority(newData, value, currentRowData) {
        if (value < 0) {
            newData.PriorityId = currentRowData.PriorityId;
            target = '/Priorities';
            window.open(target);
        }
        else {
            newData.PriorityId = value;
        }
    }

</script>

<!-- context menu management -->
<script>

    //function GridViewContextMenuDefault(e) {
    //    if (e.row.rowType === "data") {
    //        e.items = [{
    //            text: "Show Engineering Data",
    //            onItemClick: function () {
    //                var target = "/TagEngDatas/Index/" + e.row.data.MaintItemId;
    //                window.open(target, '', "resizable=yes, width=800, Height=700, left=100, top=10");
    //            }
    //        },
    //        {
    //            text: "Show Document Relations",
    //            onItemClick: function () {
    //                var target = "/TagXdocs/DocByMaintItemId/" + e.row.data.MaintItemId;
    //                window.open(target, '', "resizable=yes, width=800, Height=700, left=100, top=10");
    //            }
    //        }];
    //    }
    //}

</script>

<!-- Export to Excel -->
<script>

    function exporting(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('ProDat MI Register');

        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            worksheet: worksheet,
            autoFilterEnabled: true
        }).then(function () {
            // https://github.com/exceljs/exceljs#writing-xlsx
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'MaintItem_Register.xlsx');
            });
        });
        e.cancel = true;
    }

</script>